@charset "UTF-8";
/* CSS Document */

.st0{fill:#E5DCC6;}
	.st1{fill:#FFFEFA;stroke:#666666;stroke-width:2;stroke-miterlimit:10;}
	.st2{fill:none;stroke:#666666;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
	.un, .deux, .trois, .quatre{fill:black;}
	
	