@charset "UTF-8";
/* CSS Document */

@font-face{
    font-family : "BatonTurbo";
    src:url('../font/batonturbo/btbook.woff') format('woff');
	font-weight: normal;
}

@font-face{
    font-family : "BatonTurboBold";
    src:url('../font/batonturbo/btbold.woff') format('woff');
	font-weight: bold;
}

body {
	font-family : "BatonTurbo";
	padding: 0;
	margin: 0;
	color: #4D4D4D;
	line-height:1.6em;
	background-color: #F5F0E1;
	overflow-x:hidden;
	}
	
a, a:hover, a:active, a:visited {
	text-decoration:none;
	color: #000000;
	}	
	
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
body {
	overflow:hidden;}
 }

/*container*/
.container-fluid {
	position:relative;
	top: -145px;
	}


/* Transitions de pages*/

.niveau {
	display:none;
	}
	
.niveauactif {
	display:block;
	}

/*navigation mobile*/

/*reset*/
.navbar-default {
	background-color:transparent;
	border-color:transparent;
	}
	
.navbar-default .navbar-toggle {
	border-color:transparent;
	}
	
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color:transparent;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	width:90%;
	float:right;
	border-color:transparent;
	background-color:#E5DFCF;
	position:relative;
	top:-112px;
	padding-top:30px;
}

.navbar-toggle {
	float:left;
	margin-top:0px;
}

.navbar-header {
	position:relative;
	z-index:20;
	}

#iconnavmobile {
	width:50px;
	}
	
#menu-mobile{
	position:relative;
	left:-35px;
	}	
	
#menu-mobile li {
	font-size:13px;
	width:120%;
	margin-bottom:20px;
	padding:8px;
	text-transform:uppercase;
	letter-spacing:2px;
	border: 2px solid #666666;
	list-style:none;
	background-color:#FFFFFF;
	}
#menu-mobile span {
	color:#E55324;
	}
	
	
/*menu desktop*/

/*navigation*/

#navigation {
	height:100vh;
	position:absolute;
	top:0;
	left:1vw;
	}

#menu-desktop {
	position:relative;
	z-index:12;
	}	
	
#menu-desktop li {
	list-style:none;
}
	

/*titres*/

.titre {
	width: 239px;
    height: 56px;
	font-family: "BatonTurboBold";
	position:relative;
	text-align:center;
	padding-top:10px;
	top:36px;
	left:6vw;
	border: 2px solid #666666;
	background-color: #FFFFFF;
	}
	
h1 {
	color:#2C945C;
	font-size:22px;
	text-transform:uppercase;
	letter-spacing:15px;
	position:relative;
	left:7px;
	padding:0;
	margin:0;
	}
	
h2 {
	color:#E55324;
	font-size:10px;
	text-transform:uppercase;
	letter-spacing:5px;
	padding:0;
	margin:0;
	}
	
h3 {
	font-size: 14px;
    position: relative;
    left: 10px;
    top: 10px;
	color:#4d4d4d;
	letter-spacing:1px;
	font-family: "BatonTurboBold";
	}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
.titre {
	width:400px;
	height: 85px;
	position:fixed;
	z-index:2;
	top:28px;
	left:140px;
	text-align:center;
	padding-top:10px;
	}
	
.fond {
	width:400px;
	height: 85px;
	position:fixed;
	z-index:1;
	top:38px;
	left:150px;
	background-color:#E5DCC6;
	}
	
h1 {
	font-size:40px;
	letter-spacing:25px;
	position:relative;
	left:7px;
	}
	
h2 {
	font-size:18px;
	letter-spacing:8px;
	}
	}

/*europe*/
#carteeurope {
	position:relative;
	top:60px;
	}

#europe p {
	font-family: "BatonTurboBold";
	font-size: 16px;
    position: relative;
    top: 60px;
    left: 20px;
	}

.classement {
	line-height:1.7;
	position:relative;
	list-style:none;
	font-family: "BatonTurboBold";
	font-size:16px;
	color:#E55324;
	left:30px;
	top: 70px;
	}
	
.espagnehover, .ukhover, .allemagnehover, .luxembourghover {
	width: 80%;
	text-align:center;
    background-color:#F5F0E1;
	display: none;
	position:absolute;
	top:12vh;
	left:15vw;
}

.espagnehover p, .allemagnehover p, .luxembourghover p, .ukhover p {
	letter-spacing:1px;
	color:red;
	}

#pouruk, #poures, #pourde, #pourlx {
	width:200px;
	}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
#europe p {
	width:330px;
	line-height:1.4em;
	font-size:25px;
	position:fixed;
	top:180px;
	left:150px;
	}
	
.classement {
	position:fixed;
	font-size:25px;
	line-height:2em;
	left:180px;
	top:300px;
	}
	
#carteeurope{
	width:610px;
	}
}


/*suisse*/

#cartesuisse {
	margin-top:30px;
	}

#suisse .infos {
	width:95vw;
	margin:auto;
	position:relative;
	top:5vh;
	}
	
#suisse .infos h3 {
	position:relative;
	left:60px;
	}

.fr, .de, .it {
	width: 25%;
	margin-right:20px;
	display:inline-block;
	}
	
.drapeaux {
	position:relative;
	top:10px;
	left:-10px;
	}

.drapeaux h4 {
	font-family: "BatonTurboBold";
	font-size:12px;
	}

.drapeaux p {
	font-family: "BatonTurboBold";
	margin-top:10px;
	font-size:15px;
	}
	
	#troistrois {
		position:relative;
		top:3vh;
		font-size:13px;
		}
		
	#troistrois span {
		color:red;
		}
		
	@media (min-width: 992px) {
		#cartesuisse{
			position:relative;
			top:150px;
			left:60px;
			}
			
		#troistrois {
			position:fixed;
			top: 190px;
    		left: 130px;
			}
			
		#suisse p {
			font-size:25px;
			line-height:1.4;
			}
			
		#croixpetites{
			width: 430px;
			}
		}	
		
/*romandie*/
#carteromandie {
	width: 320px;
    position: relative;
    top: 30px;
    left: -50px;
	}

#romandie #camembert {
	position:relative;
	left: -35px;
    top: 60px;
    width: 310px;
	}

#romandie h2 {
	letter-spacing:2px;
	}

#romandie h3 {
	top:40px;
	}

.baton {
	margin-top:50px;
	position:relative;
	left: 20px;
    top: 10px;
	}
	
.baton .trait {
	width: 2px;
    height: 80px;
    background-color: #666666;
    position: absolute;
    top: -9px;
	}

.batonvd {
    width: 220px;
    height: 25px;
	margin-bottom:10px;
    background-color: #06602C;
    -webkit-animation-name: grand; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
    animation-name: grand;
    animation-duration: 3s;
}

/* Standard syntax */
@keyframes grand {
    from {width:0px}
    to {width:220px}
}

.batonju {
    width: 55px;
    height: 25px;
    background-color: #8DC6A4;
    -webkit-animation-name: petit; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
    animation-name: petit;
    animation-duration: 3s;
}

/* Standard syntax */
@keyframes petit {
    from {width:0px}
    to {width:55px}
}


/*allemanie*/
#carteallemande {
	margin-top:30px;
	}

#allemanie h2 {
	font-size:11px;
	letter-spacing:2px;
	}

.batonzu {
    width: 150px;
    height: 30px;
	margin-bottom:10px;
    background-color: #06602C;
    -webkit-animation-name: grandun; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: grandun;
    animation-duration: 2s;
}

/* Standard syntax */
@keyframes grandun {
    from {width:0px}
    to {width:150px}
}

.batonnw {
    width: 25px;
    height: 30px;
    background-color: #8DC6A4;
    -webkit-animation-name: petitun; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: petitun;
    animation-duration: 2s;
}

/* Standard syntax */
@keyframes petitun {
    from {width:0px}
    to {width:25px}
}