@charset "UTF-8";
/* CSS Document */

@font-face{
    font-family : "BatonTurbo";
    src:url('../font/batonturbo/Book.woff') format('woff');
	font-weight: normal;
}

@font-face{
    font-family : "BatonTurboBold";
    src:url('../font/batonturbo/Bold.woff') format('woff');
	font-weight: bold;
}

body {
	font-family : "BatonTurbo";
	padding: 0;
	margin: 0;
	color: #4D4D4D;
	line-height:1.6em;
	background-color: #F5F0E1;
	overflow-x:hidden;
	}
	
a, a:hover, a:active, a:visited {
	text-decoration:none;
	color: #000000;
	}
		

/*container*/
.container-fluid {
	width:98%;
	margin:auto;
	position:relative;
	top: -100px;
	}

.container {
	position:relative;
	}

/* Transitions de pages*/
.niveau {
	display:none;
	}
	
.niveauactif {
	display:block;
	}

/*Mobile*/
/*navigation mobile*/
/*reset*/
.navbar-default {
	background-color:transparent;
	border-color:transparent;
	}
	
.navbar-default .navbar-toggle {
	border-color:transparent;
	}
	
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color:transparent;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	width:90%;
	float:right;
	border-color:transparent;
	background-color:#E5DFCF;
	position:relative;
	top:-73px;
	padding-top:30px;
}

.navbar-toggle {
	float:left;
	margin-top:0px;
}

.navbar-header {
	position:relative;
	z-index:20;
	}

#iconnavmobile {
	width:50px;
	}
	
#menu-mobile{
	position:relative;
	left:-35px;
	}	
	
#menu-mobile li {
	font-size:13px;
	width:100%;
	margin-bottom:20px;
	padding:8px;
	text-transform:uppercase;
	letter-spacing:2px;
	border: 2px solid #666666;
	list-style:none;
	background-color:#FFFFFF;
	}
#menu-mobile span {
	color:#E55324;
	}
	
.line{
  width: 20px;
  height: 2px;
  background-color: #666666;
  display: block;
  margin: 5px auto;
  border-radius:3px;
}


/*Titres*/
.titre {
	width: 239px;
    height: 56px;
	font-family: "BatonTurboBold";
	position:relative;
	text-align:center;
	padding-top:10px;
	top:36px;
	left:6vw;
	border: 2px solid #666666;
	background-color: #FFFFFF;
	}
	
h1 {
	color:#2C945C;
	font-size:22px;
	text-transform:uppercase;
	letter-spacing:15px;
	position:relative;
	left:7px;
	padding:0;
	margin:0;
	}
	
h2 {
	color:#E55324;
	font-size:10px;
	text-transform:uppercase;
	letter-spacing:5px;
	padding:0;
	margin:0;
	}
	
h3 {
	font-size: 14px;
    position: relative;
    left: 10px;
    top: 10px;
	color:#4d4d4d;
	letter-spacing:1px;
	font-family: "BatonTurboBold";
	}

/*Europe*/
#carteeurope {
	transform: rotate(-10deg);
	position:relative;
	top:60px;
	}

#europe p {
	font-family: "BatonTurboBold";
	font-size: 16px;
    position: relative;
    top: 60px;
    left: 20px;
	}

#europe .classement {
	line-height:1.7;
	position:relative;
	list-style:none;
	font-family: "BatonTurboBold";
	font-size:16px;
	color:#C19F11;
	left:30px;
	top: 70px;
	}
	
.espagnehover, .ukhover, .allemagnehover, .luxembourghover {
	width: 95%;
	height:400px;
	text-align:center;
    background-color:#F5F0E1;
	display: none;
	position:absolute;
	top:95px;
}

.espagnehover p, .allemagnehover p, .luxembourghover p, .ukhover p {
	letter-spacing:1px;
	color:red;
	margin-top:-60px;
	margin-left:-30px;
	}

#pouruk, #poures, #pourde, #pourlx {
	width:150px;
	}
	
	
/*Suisse*/
#cartesuisse {
	margin-top:30px;
	}

#suisse .infos {
	width:95vw;
	margin:auto;
	position:relative;
	top:5vh;
	}
	
#suisse .infos h3 {
	position:relative;
	left:60px;
	}

.fr, .de, .it {
	width: 25%;
	margin-right:20px;
	display:inline-block;
	}
	
#suisse .drapeaux {
	position:relative;
	top:10px;
	left:-20px;
	}

#suisse .drapeaux h4 {
	font-family: "BatonTurboBold";
	font-size:12px;
	}

#suisse .drapeaux p {
	text-align:center;
	font-family: "BatonTurboBold";
	margin-top:-10px;
	font-size:15px;
	}
	
	#troistrois {
		position:relative;
		top:3vh;
		font-size:13px;
		}
		
	#troistrois span {
		color:red;
		}
		
#suisse .romandiehover {
	display:none;
	font-size: 20px;
    z-index: 2;
    position: absolute;
    top: 380px;
    left: 250px;
	}

#suisse .alemaniehover {
	display:none;
	font-size: 20px;
	z-index:2;
	position:absolute;
	top: 310px;
    left: 460px;
	}

#suisse .italiennehover {
	display:none;
	font-size: 20px;
	z-index:2;
	position:absolute;
	top: 430px;
    left: 580px;
	}
		
/*Romandie*/
#carteromandie {
	width: 320px;
    position: relative;
    top: 30px;
    left: -50px;
	}

#romandie #camembert {
	position:relative;
	left: -35px;
    top: 60px;
    width: 310px;
	}

#romandie h2 {
	letter-spacing:2px;
	}

#romandie h3 {
	position:relative;
	left:20px;
	font-size: 13px;
	top:40px;
	}

.baton {
	margin-top:50px;
	position:relative;
	left: 20px;
    top: 10px;
	}
	
.baton .trait {
	width: 2px;
    height: 80px;
    background-color: #666666;
    position: absolute;
    top: -9px;
	}


#romandie .chiffres {
	position:relative;
	top:40px;
	}

#romandie .chiffres ul {
	line-height:1.7;
	position:relative;
	left:-20px;
	list-style:none;}
	
#romandie .chiffres .ju {
	color:#8DC6A4;
	}

#romandie .chiffres .vd {
	color:#06602C;
	}

/*Cantons hover*/
.cartouche {
	background-color:#FFFFFF;
	border-radius:10px;
	padding:5px;
	}

.texteimp {
	text-align:center;
	font-weight:700;
	line-height:1.3;
	z-index:16px;
	width:120px;
	font-size:24px;
	position:fixed;
	}


.neuchatelhover {
	position:absolute;
	display:none;
	top: 100px;
    left: 135px;
	}
	
.jurahover {
	position:absolute;
	display:none;
	top: 100px;
    left: 125px;
	}

.genevehover {
	position:absolute;
	display:none;
	top: 100px;
    left: 125px;
	}
	
.vaudhover {
	position:absolute;
	display:none;
	top: 100px;
    left: 125px;
	}
	
.fribourghover {
	position:absolute;
	display:none;
	top: 100px;
    left: 125px;
	}
	
.valaishover {
	position:absolute;
	display:none;
	top: 100px;
    left: 140px;
	}
	
/*-----*/
.arrow-down {
    width: 0;
    height: 0;
    position: relative;
    top: 32px;
    left: 12px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 7px solid #ffffff;
}

.sionhover {
	display:none;
	background-color: #FFFFFF;
    border-radius: 7px;
    padding: 7px;
    z-index: 2;
	position:absolute;
	top: 480px;
    left: 120px;
	}
	
.gehover {
	display:none;
	background-color: #FFFFFF;
    border-radius: 7px;
    padding: 7px;
    z-index: 2;
	position:absolute;
	top: 470px;
}
	
.cdfhover {
	display:none;
	background-color: #FFFFFF;
    border-radius: 7px;
    padding: 7px;
    z-index: 2;
	position:absolute;
	top: 330px;
    left: 10px;
	}
	
.lausannehover {
	display:none;
	background-color: #FFFFFF;
    border-radius: 7px;
    padding: 7px;
    z-index: 2;
	position:absolute;
	top: 410px;
    left: 10px;
	}
	

/*Alémanie*/
#carteallemande {
	width: 320px;
    position: relative;
    top: 50px;
    left: -50px;
	}

#allemanie h2 {
	font-size:9px;
	letter-spacing:2px;
	}
	
#allemanie h3 {
	font-size: 13px;
	position: relative;
	top: 38px;
    left: 20px;
	}

#allemanie .chiffres {
	position:relative;
	top:40px;
	}

#allemanie .chiffres ul {
	line-height:1.7;
	position:relative;
	left:-20px;
	list-style:none;}
	
#allemanie .chiffres .nw {
	color:#8DC6A4;
	}

#allemanie .chiffres .zh {
	color:#06602C;
	}
	
#allemanie .cantonzurichhover, #allemanie .cantonnidwaldhover {
	display:none;
	font-size:30px;
	position:absolute;
	z-index:20;
	top:700px;
	left:500px;
	}
	
	
/*--------------------------------------------------------------------*/	
	
/*Ipad*/
/*Navigation*/
 @media (min-width: 700px) {
#iconnavmobile {
	width:80px;
	}
	
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	top: -155px;
    left: 20px;
}


/*Titres*/

.titre {
	width: 400px;
    height: 95px;
    top: -7px;
    left: 85px;
    border: 3px solid #666666;
	}
	
	
h1 {
	font-size: 40px;
    letter-spacing: 23px;
	}

h2{
	font-size: 17px;
    letter-spacing: 8px;
	}

/*Europe*/
#carteeurope {
	top: 50px;
	width:490px;
	}
	
#europe p {
	font-size: 28px;
    left: 90px;
    top: 30px;
    width: 370px;
    line-height: 1.3;
	}

#europe .classement {
	font-size: 24px;
    top: 40px;
    left: 130px;
	}
	
.espagnehover, .ukhover, .allemagnehover, .luxembourghover {
	width:75%;
	}

.espagnehover p, .ukhover p, .allemagnehover p, .luxembourghover p {
	margin-top:-10px;
	margin-left:0px;
	}

#poures, #pouruk, #pourde, #pourlx {
	margin-top:10px;
	}

/*Suisse*/
#suisse h3 {
	font-size: 23px;
    top: -30px;
    margin-left: 100px;
	}
	
#suisse .drapeaux {
	left:10px;
	}
	
#suisse .drapeaux img {
	width:85%;
	margin:auto;
	}

#suisse .drapeaux h4 {
	font-size: 17px;
    position: relative;
    left: 10px;
	}

#cartesuisse {
	width: 580px;
    position: relative;
    margin: auto;
    top: 40px;
	}

#troistrois {
	top:30px;
	}

#troistrois p {
	font-size: 26px;
    width: 370px;
    line-height: 1.3;
    position: relative;
    top: 50px;
	}
	
/*Suisse romande*/

#romandie h2 {
letter-spacing:3px;
	}

#romandie h3 {
	font-size: 23px;
    left: 90px;
	}

#romandie .baton {
	position: relative;
    left: 90px;
	}
	
#romandie .chiffres {
	font-size:18px;
	position: relative;
    left: 90px;
	}

#carteromandie {
	width:540px;
	position:relative;
	left:40px;
	}

#romandie #camembert {
	width: 600px;
    left: 10px;
    margin: auto;
	}

.baton .trait {
	height:110px;
	}
	
/*Cantons Hover*/


	
/*Alémanie*/

#allemanie h2 {
    letter-spacing: 4px;
    font-size: 14px;
	}

#allemanie h3 {
	top:20px;
	font-size: 23px;
    left: 90px;
	}

#allemanie .baton {
	position: relative;
    left: 90px;
	}
	
#allemanie .chiffres {
	font-size:18px;
	position: relative;
    left: 90px;
	}

#carteallemande {
	width:540px;
	position:relative;
	left:40px;
	}
	}

/*--------------------------------------------------------------------*/

/*Desktop*/
 /*bootstrap breakpoint*/
 @media (max-width: 992px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;

      max-height: 300px;
      overflow-y: scroll!important;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
 }

 @media (min-width: 992px) {
/*menu desktop*/
#navigation {
	position:fixed;
	height:100vh;
	}

#menu-desktop {
	position:relative;
	z-index:10;
	}
	
#menu-desktop li {
	margin-top:10vh;
	list-style:none;
	line-height:60px;
	}
	
#menu-desktop a {
	color:#666666;
	font-size:17px;
	text-transform:uppercase;
	letter-spacing:9px;
	border:3px solid #666666;
	background-color:#FFFFFF;
	padding:5px;
	}

#menu-desktop span {
	color:#E55324;
	}

#menu-desktop a:hover {
	text-decoration:none;}
	
body {
	overflow:hidden;}
	
/*Titres*/ 
.titre {
	width:400px;
	height: 85px;
	position:fixed;
	z-index:2;
	top:28px;
	left:140px;
	text-align:center;
	padding-top:10px;
	}
	
.fond {
	width:400px;
	height: 85px;
	position:fixed;
	z-index:1;
	top:38px;
	left:150px;
	background-color:#E5DCC6;
	}
	
h1 {
	font-size:40px;
	letter-spacing:25px;
	position:relative;
	left:7px;
	}
	
h2 {
	font-size:18px;
	letter-spacing:8px;
	}
	
/*Europe*/ 
#europe p {
	width:330px;
	line-height:1.4em;
	font-size:25px;
	position:fixed;
	top:180px;
	left:150px;
	}
	
#europe .classement {
	position:fixed;
	font-size: 24px;
    top: 270px;
    left: 180px;
	}
	
#carteeurope{
	margin-top:150px;
	width:610px;
	}
	

.ukhover, .espagnehover, .allemagnehover, .luxembourghover {
	width:100%;
	margin-top:170px;
	}
	
#europe h3 {
	font-size:25px;
	}
	
#poures, #pouruk, #pourde, #pourlx {
	width:240px;
	}
	
.ukhover p, .espagnehover p, .luxembourghover p, .allemagnehover p {
	margin-top:320px;
}

/*Suisse*/
#cartesuisse {
	width: 700px;
    position: relative;
    top: 220px;
    left: 120px;
	}

#suisse #troistrois {
	top:120px;
	position:fixed;
	}

#suisse #croixpetites {
	width:400px;
	}
	
/*Romandie*/

#romandie .infos {
	position:fixed;
	top:150px;
	}
	
#romandie h3 {
	font-size:20px;
	left:0px;
	top:25px;
	}

#romandie .baton {
	left:0px;
	}

#romandie .chiffres {
	left:0px;
	}

#romandie .texte {
	width:330px;
	text-align:justify;
	font-size:15px;
	position: relative;
	top:60px;
	}
	
#romandie .grand {
	color:#06602C;
	}

#romandie .petit {
	color:#8DC6A4;
	}

#carteromandie {
	width: 700px;
    position: relative;
    top: 180px;
    left: 70px;
	}
	
	.batonvd {
    width: 320px;
    height: 30px;
    animation-name: grand;
    animation-duration: 3s;
}

/*Cantons*/

.texteimp{
	font-size:45px;
	width:200px;
	}

.jurahover {
	top: 360px;
    left: 520px;
	}

.neuchatelhover {
	top: 360px;
    left: 520px;
	}

.vaudhover {
	top: 360px;
    left: 520px;
	}

.genevehover {
	top: 360px;
    left: 520px;
	}

.fribourghover {
	top: 360px;
    left: 520px;
	}

.valaishover {
	top: 360px;
    left: 520px;
	}
	
.sionhover {
	font-size:20px;
	top:660px;
	left:830px;
	}

.lausannehover {
	font-size:20px;
	top:510px;
	left:600px;
	}

.gehover {
	font-size:20px;
	top:640px;
	left:520px;
	}

.cdfhover {
	font-size:20px;
	top:330px;
	left:620px;
	}

/*Alémanie*/

#allemanie .infos {
	position:fixed;
	top:150px;
	}
	
#allemanie h3 {
	font-size:20px;
	left:0px;
	top:25px;
	}

#allemanie .baton {
	left:0px;
	}

#allemanie .chiffres {
	left:0px;
	}
	
#allemanie .texte {
	width:330px;
	text-align:justify;
	font-size:15px;
	position: relative;
	top:60px;
	}
	
#allemanie .grand {
	color:#06602C;
	}

#allemanie .petit {
	color:#8DC6A4;
	}

#carteallemande {
	width: 700px;
    position: relative;
    top: 120px;
    left: 70px;
	}
	
#allemanie .cantonzurichhover {
	
	}
 }
 
 /*Nav*/
 
 @media (min-width:990px) {
	 .menui {
  background: #fff;
  transition: 0.6s ease;
  transition-timing-function: cubic-bezier(.75, 0, .29, 1.01);
  margin-top: 10px;
  position: absolute;
}

.icon {
  z-index: 999;
  position: fixed;
  display: block;
  padding: 9px;
  height: 32px;
  width: 32px;
  margin: 0px;
  top: 10px;
  left: 20px;
}

.mobilenav {
  font-family: inherit;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #E5DFCF;
  opacity: 0.9;
}

.mobilenav li {
  list-style-type: none;
  text-align: center;
  padding: 10px;
}

.mobilenav li a {
  font-size: 150%;
  color: #666666;
  text-decoration: none;
  font-weight: 300;
  width: 100%;
}

.mobilenav li:first-child { margin-top: 60px; }

.top-animate {
  background: #fff !important;
  top: 13px !important;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mid-animate { opacity: 0; }

.bottom-animate {
  background: #fff !important;
  top: 13px !important;
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
}

.top-menu {
  top: 5px;
  width: 25px;
  height: 2px;
  border-radius: 10px;
  background-color: #666666;
}

.mid-menu {
  top: 13px;
  width: 25px;
  height: 2px;
  border-radius: 10px;
  background-color: #666666;
}

.bottom-menu {
  top: 21px;
  width: 25px;
  height: 2px;
  border-radius: 10px;
  background-color: #666666;
}
 
	 }